* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin-top: 5rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Header, Logo & Night-Mode Toggle  */

        header { 
        width: 40%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .right {
        display: flex;
        gap: 1rem;
        font-size: 25px;
        align-items: center;
        height: 50px;
        width: 300px;
        justify-content: space-between;
    }

    #logo {
        font-size: 50px;
        color: black;
    }

    #mobile-logo {
        display: none;
    }

    .divider {
        width: 1px;
        height: 50px;
        top: 0;
        background-color: #ccc;
    }
    
    .moon {
        font-size: 40px;

}

/* Font Selector Drop-Down */

        #select {
            font-size: 25px;
            border: none;
            background-color: transparent;
            min-width: 50px;
            font-family: inherit;
            cursor: pointer;
            width: 110px;
        }

        .serif-option {
            font-family: serif;
        }
        
        .arial-option {
            font-family: arial;
        }
        
        .times-option {
            font-family: 'Times New Roman';
        }
        
        .verdana-option {
            font-family: verdana;
        }
        
        .georgia-option {
            font-family: georgia;
        }

        

/* Round Toggle  */

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color: #858789;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px #858789;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        } 

/* Main Dimensions  */

    main {
        height: 80%;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* margin-bottom: 5rem; */
    }

/* Search Bar & Search Button  */

    .search-bar-container {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: flex-start;
    }

    #search-input {
        width:100%;
        background-color: #ececec;
        border: none;
        padding: 1rem;
    }

    #search-button {
        cursor: pointer;
        border: none;
        padding: 1rem;
    }

    #search-button:active {
        background-color: #e3e3e3;
        transform: translateY(2px);
    }

    #search-input:focus {
        outline: none
    }

    #search-input::placeholder {
        font-weight: 700;
    }

/* Word & Pronunciation Section */

    .word-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }

    .video-contiainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 1.5rem;
    }

    .video-dimensions {
        height: 100%;
        width: 100%;
        background-color: black;
        border-radius: 8px;
    }

    .play-btn {
        padding: 30px;
        border-radius: 500px;
        font-size: 30px;
        width: 100px;
        height: 100px;
        border: none;
        background-color: #efd6fa;
        color: #951bc6;
        cursor: pointer;
    }

    .play-btn:active {
        background-color: #d1bcd9;
        transform: translateY(2px);
    }

    .word {
        font-size: 6rem;
        font-weight: 700;
    }

    .pronunciation {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        color: #951bc6
    }


/* definition article */

.definition {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.definition:last-child {
    margin-bottom: 10rem;
}

.definition-header {
    display: flex;
     align-items: center;
}

.meaning-header {
    margin-top: 2rem;
    font-size: 20px; 
    opacity: 40%;
}

.meaning-body {
    font-weight: 400;
    font-size: 20px;
    margin-left: 5rem;
}


.meaning-body  ul {
    list-style-type:decimal
}

/* .meaning-body ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -40px;
    font-weight: bold;
  } */

.part-of-speech {
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;
}

#hr {
    border-top: 1px solid grey;
    opacity: 70%;
    flex-grow: 1;
    margin: 0 10px;
}


/* Error Message  */

.error-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    margin-top: 2rem;
    text-align: center;
}

#error-img {
    font-size: 150px;
    margin-top: 4rem;
}

/* ------------------------------------------------------------------------ */

/* Media Queries -- Let's make this mfricker responsive  */

@media only screen and (max-width: 940px) {
    body {
        margin-top: 2rem;
    }
    header { 
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    main {
        width: 80%;
        gap: 1rem
    }
    .left {
        display: none;
    }
    .moon {
        font-size: 30px;
    }
    #select {
        font-size: 20px;
    }
    .word {
        font-size: 4rem;
    }
    #pronunciation {
        font-size: 2rem;
    }

    .play-btn {
        padding: 30px;
        border-radius: 500px;
        font-size: 15px;
        width: 75px;
        height: 75px;
        border: none;
        background-color: #efd6fa;
        color: #951bc6;
        cursor: pointer;
    }

}

@media screen and (max-width: 480px) {
    
    header { 
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .left {
        display: none;
    }

    /* #mobile-logo {
        display: block;
        position: absolute;
        font-size: 40px;
    } */
}
